/* Text styles */

* {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450; /* between 100 and 700 */
  font-style: normal;
}

#logo {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 450; /* between 100 and 900 */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
  font-size: 2rem;
}

h1 {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 550;
}

a {
  color: black;
  text-decoration: none;
}

/* Header */

header {
  background-color: #eeeeee;
}

.site-nav {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.site-nav p {
  margin: 0;
}

.site-nav ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.site-nav li {
  margin-left: 1.5rem;
}

.icons {
  height: 2.5rem;
}

/* Welcome card section (index.html) */

.welcome-card {
  display: grid;
  grid-template-columns: 1fr;
}

.welcome-text {
  grid-area: 1 / 1;
  width: 100%;
  justify-items: center;
  align-self: center;
}

.welcome-img {
  grid-area: 1 / 1;
  width: 100%;
  opacity: 35%;
}

/* Image carousel section (index.html) */

.carousel-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.img-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.img-in-carousel {
  width: 15rem;
}

.img-in-carousel-middle {
  width: 20rem;
  margin: 0 2.5rem;
}

/* Newsletter section */

.newsletter-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #eeeeee;
}

.img-in-box {
  width: 100%;
  opacity: 70%;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.form-input {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.button {
  margin-top: 3rem;
  background-color: white;
  padding: 0.75rem 0.7rem;
}

/* Products grid (products.html) */

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.products-container img {
  width: 60%;
  margin: 1rem;
}

.products-container img:hover {
  width: 90%;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.footer-menu {
  display: flex;
  margin-left: auto;
}

footer ul {
  list-style: none;
  margin-left: 2rem;
}

footer li {
  line-height: 1.4rem;
}
