/* Text styles */

* {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450; /* between 100 and 700 */
  font-style: normal;
}

#logo {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 450; /* between 100 and 900 */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
  font-size: 2rem;
}

a {
  color: black;
  text-decoration: none;
}

/* Header */

header {
  background-color: #eeeeee;
}

.site-nav {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.site-nav p {
  margin: 0;
}

.site-nav ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.site-nav li {
  margin-left: 1.5rem;
}

.icons {
  height: 2.5rem;
}
