/* Text styles */

* {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450; /* between 100 and 700 */
  font-style: normal;
}

#logo {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 450; /* between 100 and 900 */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
  font-size: 2rem;
}

h1 {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

a {
  color: black;
  text-decoration: none;
}

/* Header */

header {
  background-color: #eeeeee;
}

.site-nav {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.site-nav p {
  margin: 0;
}

.site-nav ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.site-nav li {
  margin-left: 1.5rem;
}

.icons {
  height: 2.5rem;
}

/* Newsletter section */

.newsletter-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-in-box {
  width: 100%;
  opacity: 70%;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #eeeeee;
}

.form-input {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.button {
  margin-top: 4rem;
  background-color: white;
  padding: 0.75rem 0.7rem;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.footer-menu {
  display: flex;
  margin-left: auto;
}

footer ul {
  list-style: none;
  margin-left: 2rem;
}

footer li {
  line-height: 1.4rem;
}
