body {
  margin: 0;
}

/* Text styles */

* {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450; /* between 100 and 700 */
  font-style: normal;
}

#logo {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 450; /* between 100 and 900 */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
  font-size: 2rem;
}

h1 {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 550;
}

h3 {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 450; /* between 100 and 900 */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
  font-size: 2rem;
  margin: 1rem 0;
}

h4 {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 450; /* between 100 and 900 */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
  font-size: 1.3rem;
  margin: 0;
}

h5 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1.7rem 0 0;
}

a {
  color: black;
  text-decoration: none;
}

/* Header */

header {
  background-color: #eeeeee;
}

.site-nav {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
}

.site-nav p {
  margin: 0;
}

.site-nav ul,
menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav ul {
  margin-left: auto;
}

.site-nav li {
  margin-left: 1.5rem;
  font-size: 1rem;
}

.icons {
  height: 2.5rem;
}

#hamburger-menu-icon {
  display: none;
}

menu {
  display: none;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  background-color: #eeeeee;
  height: 85vh;
}

menu ul {
  width: max-content;
}

menu li {
  margin: 0.5rem 0.5rem;
}

#menu-overlay-texts {
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

#menu-overlay-icons {
  margin-left: 0;
  width: max-content;
}

#menu-overlay-icons .icons {
  height: 2.3rem;
}

@media screen and (max-width: 800px) {
  #logo {
    font-size: 1.6rem;
  }
  .icons {
    height: 2rem;
  }
  .site-nav li {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 690px) {
  .site-nav ul {
    display: none;
  }
  #hamburger-menu-icon {
    display: inline;
    margin-left: auto;
  }
}

/* Welcome card section (index.html) */

.welcome-card {
  display: grid;
  grid-template-columns: 1fr;
}

.welcome-text {
  grid-area: 1 / 1;
  width: 100%;
  justify-items: center;
  align-self: center;
}

.welcome-img {
  grid-area: 1 / 1;
  width: 100%;
}

button {
  background-color: white;
  padding: 0.75rem 0.7rem;
  border: 0;
  margin: 1.5rem 0;
  font-size: 1rem;
}

button:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

@media screen and (max-width: 690px) {
  .welcome-text h1 {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;
  }
  button {
    margin: 0;
    padding: 0.5rem 0.4rem;
  }
}

/* Image carousel section (index.html) */

.carousel-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.img-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.carousel-arrows {
  display: none;
  width: 2.3rem;
}

.img-in-carousel {
  width: 15rem;
}

.img-in-carousel-middle {
  width: 20rem;
  margin: 0 2.5rem;
}

.carousel-image-text {
  display: none;
}

@media screen and (max-width: 1000px) {
  .img-in-carousel,
  .img-in-carousel-middle {
    width: 10rem;
  }
}

@media screen and (max-width: 690px) {
  .carousel-and-text {
    width: max-content;
    justify-self: center;
    align-items: center;
  }
  .img-carousel {
    display: grid;
    grid-template-columns: 1fr;
  }
  .img-in-carousel-middle {
    margin: 1.5rem 0;
  }
  .img-carousel figure {
    display: flex;
    align-items: center;
  }
  .carousel-image-text {
    display: inline;
    height: max-content;
    background-color: #eeeeee;
    padding: 0.5rem;
    margin: 0 0.5rem;
  }
}

/* Newsletter section */

.newsletter-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #eeeeee;
}

.img-in-box {
  width: 100%;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.form-input {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.button {
  margin-top: 3rem;
  background-color: white;
  padding: 0.75rem 0.7rem;
}

@media screen and (max-width: 1000px) {
  .newsletter-box {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .img-in-box {
    grid-area: 1 / 1;
    width: 70%;
    justify-self: center;
  }
  .newsletter-form {
    width: max-content;
    justify-self: center;
    grid-area: 1 / 1;
  }
  .form-input {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 690px) {
  .img-in-box {
    display: none;
  }
  .newsletter-form {
    margin: 1rem 0;
  }
  .newsletter-form h1 {
    text-align: center;
    font-size: 1.3rem;
    margin: 0.5rem 0;
  }
  .form-titles {
    margin: 0.5rem 0;
  }
}

/* Products grid (products.html) */

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: flex-start;
  margin: 1rem 1rem;
}

figure {
  margin: 0;
  align-content: center;
}

.img-container {
  margin: 0 0 1rem;
  display: grid;
  grid-template-columns: 1fr;
}

.img-in-grid {
  grid-area: 1 / 1;
}

.artwork-img {
  width: 60%;
  grid-area: 1 / 1;
}

.basket-outline {
  width: 2rem;
  grid-area: 1 / 1;
  margin: 0.6rem;
}

.title-card {
  background-color: #eeeeee;
  margin: 0 0 0.1rem 0;
  height: 3rem;
  width: 90%;
  align-content: center;
  justify-items: center;
  display: none;
}

.title-card-text {
  width: max-content;
  text-align: center;
  display: none;
  margin: 0;
}

@media screen and (min-width: 801px) {
  .artwork-img:hover {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .title-card {
    display: block;
    width: 60%;
  }
  .title-card-text {
    display: block;
  }
}

@media screen and (max-width: 690px) {
  .products-container {
    grid-template-columns: 1fr;
  }
  .artwork-img {
    width: 80%;
  }
  .title-card {
    width: 80%;
  }
  .title-card-text {
    display: block;
  }
}

/* Product page (product.html) */

.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 1rem;
}

.product-img {
  width: 100%;
  grid-area: 1 / 1 / span 2 / auto;
}

.product-texts {
  margin-left: 1rem;
}

.product-texts p {
  font-size: 1rem;
}

.details-of-ordering {
  margin-left: 1rem;
  grid-area: 2 / 2;
}

.recommended-products {
  margin: 3rem 1rem;
}

.recommended-images {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.recommended-images img {
  width: 20vw;
  margin-left: 2rem;
}

@media screen and (max-width: 900px) {
  .product-texts {
    grid-area: 1 / 2 / span 2 / auto;
    align-self: center;
  }
  .details-of-ordering {
    grid-area: 3 / 1;
    margin-left: 0;
  }
}

@media screen and (max-width: 690px) {
  .product-card {
    grid-template-columns: 1fr;
  }
  .product-img {
    grid-area: 1 / 1;
  }
  .product-texts {
    grid-area: 2 / 1;
  }
  .details-of-ordering {
    grid-area: 3 / 1;
    margin-left: 1rem;
  }
  .recommended-images img {
    width: 25vw;
    margin-left: 1.5rem;
  }
}

/* cart.html */

#inline-link {
  text-decoration: underline;
  text-decoration-color: #999999;
}

#inline-link:hover {
  color: #999999;
}

.cart-layout {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.cart-container,
.cart-summary {
  margin: 0 1rem;
}

.cart-item-card {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
}

.cart-item-card p,
.cart-item-card ul {
  margin-right: 3rem;
  margin-top: 0;
}

.cart-item-card ul {
  list-style: none;
  padding-left: 0;
}

.cart-item-card li {
  margin-bottom: 0.8rem;
}

.item-img {
  width: 20%;
  margin-right: 3rem;
}

.item-texts {
  display: flex;
}

.quantity-buttons-cart {
  display: flex;
  margin-right: 3rem;
  height: max-content;
  align-items: center;
}

.quantity-buttons-cart img {
  width: 2rem;
  height: max-content;
}

.quantity-buttons-cart img:hover {
  cursor: pointer;
}

.product-quantity-number {
  font-size: 1rem;
  margin: 0 3rem;
}

.cart-summary-details {
  display: flex;
  margin-top: 1rem;
}

.cart-summary-details ul {
  list-style: none;
  padding-left: 0;
}

#cart-total-texts {
  margin-right: 4rem;
}

#cart-total-text-numbers {
  justify-items: end;
  margin-left: auto;
  margin-right: 1rem;
}

.cart-summary-details li {
  margin-bottom: 0.8rem;
}

@media screen and (max-width: 1030px) {
  .cart-item-card p,
  .cart-item-card ul,
  .item-img,
  .quantity-buttons-cart {
    margin-right: 1.5rem;
  }
  .product-quantity-number {
    margin: 0 1.5rem;
  }
}

@media screen and (max-width: 900px) {
  .cart-layout {
    grid-template-columns: 1fr;
  }
  .cart-item-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cart-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
  .cart-item-card,
  .item-texts,
  .item-texts ul {
    width: 100%;
  }
  .item-img {
    width: 20vw;
    margin: 0;
  }
  .item-texts {
    flex-direction: column;
    height: max-content;
  }
  .cart-item-card ul,
  .cart-item-card li {
    margin-bottom: 0;
    margin-right: 0;
  }
  .cart-item-card ul {
    display: flex;
    flex-direction: row;
  }
  .item-price {
    width: max-content;
    margin-left: auto;
  }
  .quantity-buttons-cart {
    margin: 1.5rem 0;
    align-self: center;
  }
  #total-price-text {
    margin: 0;
    align-self: flex-end;
    justify-self: last baseline;
  }
}

@media screen and (max-width: 750px) {
  .quantity-buttons-cart {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 690px) {
  .cart-items {
    grid-template-columns: 1fr;
  }
  /* .cart-item-card {
    grid-template-columns: 1fr 1fr;
  } */
  .item-img {
    width: 40vw;
  }
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.footer-menu {
  display: flex;
  margin-left: auto;
}

footer ul {
  list-style: none;
  margin-left: 2rem;
}

footer li {
  line-height: 1.4rem;
}

@media screen and (max-width: 800px) {
  footer ul {
    padding-left: 0;
  }
}

@media screen and (max-width: 690px) {
  footer {
    flex-direction: column;
  }
  .footer-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
  .footer-menu ul {
    padding-left: 0;
    margin-left: 0;
  }
  #footer-menu-right {
    text-align: right;
  }

  #footer-menu-center {
    text-align: center;
    grid-area: 2 / 1 / auto / span 2;
  }
}
